################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XF.Css/XF.Css/obj
/XF.Css/XF.Css.Android/obj
